<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="life.lixiaoyu.jetpackpractice">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/jetpack_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/jetpack_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackPractice"
        android:name=".app.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lifecycle.LifecycleDemoActivity" android:exported="false"/>
        <activity android:name=".lifecycle.GetLocationWithoutLifecycleActivity" android:exported="false"/>
        <activity android:name=".lifecycle.GetLocationWithLifecycleActivity" android:exported="false"/>
        <activity android:name=".lifecycle.GetLocationWithLifectcleServiceActivity" android:exported="false" />
        <service android:name=".lifecycle.MyService" />

        <activity android:name=".lifecycle2.Lifecycle2DemoActivity" />
        <activity android:name=".lifecycle2.AdActivityWithoutLifecycle" />
        <activity android:name=".lifecycle2.AdActivityWithLifecycle" />
        <activity android:name=".lifecycle2.AdActivityCustomLifecycleOwner" />
        <activity android:name=".lifecycle2.AppMainPageActivity" />

        <activity android:name=".viewmodel1.ViewModelDemoActivity" />
        <activity android:name=".viewmodel1.TimerActivityWithoutViewModel" />
        <activity android:name=".viewmodel1.TimerActivity" />
    </application>

</manifest>